.maincontent{
  margin: 0 123px;
}
.navcontainer{
  margin: 0 100px;
}
.footlink{
  text-decoration: none !important;
}
.footlink:hover{
  color: #384897;
}
.menuButton{
  display: none !important;
}
.logobrand{
  color: white;
}
.logobrand:hover{
  color: white;
  text-decoration: none;
}
.menuitems{
  margin-left: 5%;
}
.profileImage{
  border-radius: 20px;
}
.profile-card{
  width: 70%;
  padding: 15px;
  border-radius: 20px !important;
  box-shadow: 3px 3px 15px #888888;
}
.editprofile-card{
  width: 50%;
  padding: 15px;
  border-radius: 20px !important;
  box-shadow: 3px 3px 15px #888888 !important;
}
.editprofile-image{
  border-radius: 50%;
  box-shadow: 3px 3px 15px #888888 !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
}

li {
  float: left;
}

li .navlink {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li .navlink:hover {
  background-color: #384897;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navcontainer{
    margin: 0;
  }
  .maincontent{
    margin: 0 15px !important;
  }
  .menuButton{
    display: block !important;
  }
  .menuitems{
    display: none !important;
  }
  .profile-card{
    width: 100% !important;
  }
  .editprofile-card{
    width: 90% !important;
  }
  .menu-desktop{
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navcontainer{
    margin: 0;
  }
  .menuButton{
    display: block !important;
  }
  .menuitems{
    display: none !important;
  }
  .maincontent{
    margin: 0 15px !important;
  }
  .profile-card{
    width: 100% !important;
  }
  .editprofile-card{
    width: 90% !important;
  }
  .menu-desktop{
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navcontainer{
    margin: 0;
  }
  .maincontent{
    margin: 0 15px !important;
  }
  .menu-mobile{
    display: none !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .menu-mobile{
    display: none !important;
  }
}

/* Extra large devices (large deskto */